@model ExceptionModel
@{
    ViewData["Title"] = "Error - 403";
}

<div class="container flex-column justify-content-center">
    <h1 class="text-danger">Error 403</h1>
    <h2 class="text-danger">@Model.Message</h2>
</div>


