@{
    ViewData["Title"] = "Change Password";
}

<div class="container" style="display:flex; justify-content:center">
    <div style="border: 6px solid #d4f0a5;border-radius: 0.6rem;padding: 1rem 2rem;width: 35rem;height: 30rem; background-color: #393E46; color:  #d4f0a5">
        <h1 style="margin-left: -7%;border-bottom: 6px solid #d4f0a5;width: 114%; padding:0 0 3% 7%; color: #efefef">
            Change password
        </h1>
        <div id="form" class="d-flex flex-column" style="height: 80%;justify-content: space-around;">
            <div>
                <label for="oldPassword">Old password:</label>
                <input type="password" class="form-control" id="oldPassword">
                <span id="oldPasswordSpan" class="text-danger"></span>
            </div>
            <div >
                <label for="newPassword">New password:</label>
                <input type="password" class="form-control" id="newPassword">
                <span id="newPasswordSpan" class="text-danger"></span>
            </div>
            <div>
                <label for="confirmPassword">Confirm password:</label>
                <input type="password" class="form-control" id="confirmPassword">
                <span id="confirmPasswordSpan" class="text-danger"></span>
            </div>
            <div style="text-align:center">
                <button id="changeBtn" class="btn" style="width: 60%; background-color:#d4f0a5">Change</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/UserAccount/ChangePassword.js"> </script>
}